// Header
.menu {
    margin-top: 0px;
    padding-top: 8px;
    margin-bottom: 10px;
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;

    li {
        margin: 0;
        padding: 5;
        display: table-cell;
    }

    a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        color: #395c6b;
        margin-left: 10px;
        margin-right: 10px;
    }
    a:hover {
        color: #80a4ed;
    }
}

header {
    background-color: #fbf1d6;
    height: 50px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

h1 {
    margin: 0px;
}

.jumbo {
    background-color: #1f4050;
    padding: 0px;
    width: 100%;
    .logo {
        height: 75px;
    }
}

.title {
    color: white;
    text-align: center;

    padding-top: 22px;

    font-weight: 400;
}

.zodiacdetails {
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.contain {
    background-color: #f4f0d9;
    color: #395c6b;
    height: 100%;
    text-align: center;

    h2 {
        padding-top: 10px;
    }
    h5 {
        margin-top: 0px;
    }
    .traits {
        margin: 0px;
    }
}

.zodiacdaily {
    .zodiacdaily2 {
        height: 800px;
    }
    .imgzodiacdaily {
        width: 200px;
    }
    .link {
        &:hover {
            color: green;
            transform: scale(1.1);
        }
    }
}
.sign-in-content {
    form {
        h4 {
            color: #b6244f;
        }
        label {
            color: #904e55;
        }
    }

    .right-pic {
        padding: 50px;
    }
}

.profile-page {
    padding: 40px;
    h1 {
        margin-bottom: 40px;
    }
    .profile-image {
        margin-bottom: 20px;
    }
}

.home {
    padding-top: 40px;
    .link {
        &:link {
            color: red;
        }
        &:visited {
            color: blue;
        }
        &:hover {
            color: red;
        }
        &:active {
            color: red;
        }
    }
}

.match_page {
    padding-top: 40px;
    .imagematch:hover {
        transform: scale(1.1);
    }
}

.not-found {
    margin-top: 200px;
}
