.menu {
  padding-top: 30px;
  text-align: center;
  li {
    display: inline;
  }
  a {
    font-family: "Muli", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #19345e;
    margin: 10px;
  }
  a:hover {
    color: #f47522;
  }
}

.category {
  li {
    display: inline;
  }
}
