
.zodiacdaily {
    .zodiacdaily2 {
        height: 600px;
    }
    .imgzodiacdaily {
        width: 200px;
    }
    .link {
        &:hover {
            color: green;
        }

.sign-in-content {
    form {
        padding: 100px;
        h4 {
            padding: 10px;
            float: right;
            color: #b6244f;
        }
        label {
            float: left;
            color: #904e55;
        }
        input {
            padding: 10px;
        }
        button {
            padding: 10px;
            margin-top: 10px;
            margin-right: 5px;
        }
    }

    .right-pic {
        padding: 50px;
    }
}

.profile-page {
    padding: 50px;
    h1 {
        margin-bottom: 40px;
    }
    .profile-image {
        margin-bottom: 20px;

    }
}
