.menu {
  margin-top: 0px;
  padding-top: 8px;
  margin-bottom: 10px;
  text-align: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.menu li {
  margin: 0;
  padding: 5;
  display: table-cell;
}
.menu a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: #395c6b;
  margin-left: 10px;
  margin-right: 10px;
}
.menu a:hover {
  color: #80a4ed;
}
header {
  background-color: #fbf1d6;
  height: 50px;
  position: fixed;
  z-index: 10;
  width: 100%;
}
h1 {
  margin: 0px;
}
.jumbo {
  background-color: #1f4050;
  padding: 0px;
  width: 100%;
}
.jumbo .logo {
  height: 75px;
}
.title {
  color: white;
  text-align: center;
  padding-top: 22px;
  font-weight: 400;
}
.zodiacdetails {
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.contain {
  background-color: #f4f0d9;
  color: #395c6b;
  height: 100%;
  text-align: center;
}
.contain h2 {
  padding-top: 10px;
}
.contain h5 {
  margin-top: 0px;
}
.contain .traits {
  margin: 0px;
}
.zodiacdaily .zodiacdaily2 {
  height: 800px;
}
.zodiacdaily .imgzodiacdaily {
  width: 200px;
}
.zodiacdaily .link:hover {
  color: green;
}
.sign-in-content form h4 {
  color: #b6244f;
}
.sign-in-content form label {
  color: #904e55;
}
.sign-in-content .right-pic {
  padding: 50px;
}
.profile-page {
  padding: 40px;
}
.profile-page h1 {
  margin-bottom: 40px;
}
.profile-page .profile-image {
  margin-bottom: 20px;
}
.home {
  padding-top: 40px;
}
.home .link:link {
  color: red;
}
.home .link:visited {
  color: blue;
}
.home .link:hover {
  color: red;
}
.home .link:active {
  color: red;
}
.match_page {
  padding-top: 40px;
}
.match_page .imagematch:hover {
  transform: scale(1.1);
}
.not-found {
  margin-top: 200px;
}
